.menu_i{
    margin-top: 70px;
    text-align: center; 
    
  }
  
  .title{
    font-size: 70px;
    font-weight: 900;
    margin: 50px 40px 40px;
    color: rgb(3, 7, 71);
  }
  
  td{
      color: #080f75be;
      font-size: 18px;
      height: 50px;
  }
  
  #gamess {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    #gamess td{
     
      padding: 8px;
      text-align: center;
      font-weight: bold;
      font-family: Verdana, Arial, Helvetica, sans-serif;
    
    }
    
    #gamess tr:nth-child(even){background-color:  rgba(233, 229, 229, 0.486);}
    
    #gamess tr:hover {background-color: #ddd;}
    
    #gamess th {
      padding-top: 15px;
      padding-bottom: 12px;
      text-align: center;
      background-color: #0e7dc7be;
      color: white;
      height: 50px;
      font-style:'Source Sans Pro', sans-serif;
      font-size: 20px;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      
      
    }
  
    #tableau{
      margin-top: 60px;
    }
  
   
    body{
      background: url('../../../assets/oui.PNG') no-repeat center center fixed;
      background-size: cover;
    }

    button {
        background-color:  #0e7dc7;
        border-radius:28px;
        border:1px solid #124df0;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:15px;
        padding:13px 37px;
        text-decoration:none;
        text-shadow:0px 1px 0px #2f6627;
        font-weight: bold;
      }
      
      button:hover {
        background-color:#2abf92;
      }
      
      button:active {
        position:relative;
        top:1px;
      }
    