<body>
  <div class="menu_i">
    <h1 class="title">Jeux du festival par éditeur</h1>
  </div>

  <div id="tableau">
    <table *ngIf="games" id="gamess">
      <tr>
        <th>JEU</th>
        <th>EDITEUR</th>
        <th>DETAILS</th>
      </tr>
      <tr *ngFor="let game of games | async ">
        <td>{{game.nomJeu}}</td>
        <td>{{game.nomSociete}}</td>
        <td><button routerLink="/gamedetails/{{game.idJeu}}/{{game.idReservation}}"
          routerLinkActive="active">Détails</button></td>
      </tr>
    </table>
  </div>
</body>