
<body>
 
<!--app-game-detail [game]="this.game"></app-game-detail-->

  <div class="menu_i">
    <h1 class="title">Liste des jeux du festival</h1>
</div>

<div id="tableau">
<table *ngIf="games" id="gamess">
  <tr>
     <th>JEU</th><th>JOUEURS MINIMUM</th>
     <th>JOUEURS MAXIMUM</th><th>PEGI</th><th>DUREE</th>
     <th>LIEN NOTICE</th> <th>DETAILS</th>
  </tr>
  <tr *ngFor="let game of games | async ">
    
    <td>{{game.nomJeu}}</td>
    
    <td>{{game.nbJoueurMin}}</td>
    <td>{{game.nbJoueurMax}}</td>
    <td>{{game.ageMin}}</td>
    <td>{{game.duree}}</td>
    <td>{{game.lienNotice}}</td>
    <td><button routerLink="/gamedetails/{{game.idJeu}}/{{game.idReservation}}" routerLinkActive="active">Détails</button></td>
    
  </tr>
</table>
</div>
</body>