
<div class="menu_i">
    <h1 class="title">Liste des jeux du festival</h1>
</div>

<table *ngIf="games" id="gamess">
  <tr>
     <th>Nom Jeu</th><th>Nombre Joueurs Minimum</th>
     <th>Nombre Joueurs Maximum</th><th>Age Minimum</th><th>Durée</th>
     <th>Lien notice</th> <th>Type de jeu</th><th>éditeur</th>
  </tr>
  <tr *ngFor="let game of games | async ">
    
    <td>{{game.nomJeu}}</td>
    <td>{{game.nbJoueurMin}}</td>
    <td>{{game.nbJoueurMax}}</td>
    <td>{{game.ageMin}}</td>
    <td>{{game.duree}}</td>
    <td>{{game.lienNotice}}</td>
    <td>{{game.idTypeJeu}}</td>
    <td>{{game.idEditeur}}</td>
   
     <!-- <td>{{festival.id}}</td><td>{{festival.name}}</td><td>{{festival.tableTotal}}</td>
     <td>{{festival.tableprice_1 | currency}}</td>
     <td>{{festival.tableprice_2 | currency}}</td>
     <td>{{festival.tableprice_3 | currency}}</td>
     <td>{{festival.sqmprice_1 | currency}}</td>
     <td>{{festival.sqmprice_2 | currency}}</td>
     <td>{{festival.sqmprice_3 | currency}}</td>
     <td>{{festival.tablemax_1 | number:'3.0' }}</td>
     <td>{{festival.tablemax_2 | number:'3.0'}}</td>
     <td>{{festival.tablemax_3 | number:'3.0'}}</td> -->
  </tr>
</table>