<body>
    <div class="menu_i">
      <h1 class="title">Liste des réservations</h1>
    </div>
  
    <div id="tableau">
      <table *ngIf="reservations" id="exp">
        <tr>
  
          <th>Nom de l'exposant</th>
          <th>Adresse de l'exposant</th>
          <th>Pays</th>
          <th>Suivi Exposant</th>
        </tr>
        <tr *ngFor="let reservation of reservations">
  
          <td>{{reservation.nbTableE1}}</td>
          <td>{{reservation.nbTableE2}}</td>
          <td>{{reservation.nbTableE3}}</td>
  
          <!--td><button routerLink="/suiviexposant/{{exposant.idFestival}}/{{exposant.idSociete}}" routerLinkActive="active" type="button" class="btn btn-default active">Suivi</button></td-->
  
        </tr>
      </table>
    </div>
  </body>


