
<body>
  <router-outlet></router-outlet>  
  <div class="menu_i">
        <h1 class="title">Espace administrateur</h1>
    </div>
    
    <div class="nav">
    <ul id="navigation">
        <li><a href="/createfest" title="aller à la section 1">Créer un festival</a></li>
        
        <li><a href="/explist" title="aller à la section 3">Suivi exposants</a></li>
        <li><a href="/gamelistexp" title="aller à la section 3">Liste des jeux par exposants</a></li>
        <li><a href="/reservations" title="aller à la section 3">Réservations</a></li>
        <li><a href="/createexp" title="aller à la section 3">Créer un exposant</a></li>
        <li><a href="/createed" title="aller à la section 3">Créer un éditeur</a></li>
        <li><a href="/festivals" title="aller à la section 2">Festivals antérieurs</a></li>
      
      </ul>
      </div>
    
    </body>
