
<body>
   
  <div class="menu_i">
        <h1 class="title">Espace administrateur</h1>
    </div>
    
    <div class="nav">
    <ul id="navigation">
        
      <li><a href="/adminhomefest" title="aller à la section 3">Informations festival</a></li>
      <li><a href="/createfest" title="aller à la section 1">Créer un festival</a></li>
        
       
       
        <li><a href="/createexp" title="aller à la section 3">Créer un exposant</a></li>
        <li><a href="/createed" title="aller à la section 3">Créer un éditeur</a></li>
        <li><a href="/createacch" title="aller à la section 2">Créer un compte</a></li>
        <li><a href="/addgame" title="aller à la section 2">Créer un jeu</a></li>
        <li><a href="/festivals" title="aller à la section 2">Festivals antérieurs</a></li>
       
      </ul>
      </div>
    
    </body>
