

.menu_i{
  margin-top: 70px;
  text-align: center; 
  
}

.title{
  font-size: 70px;
  font-weight: 900;
  margin: 50px 40px 40px;
  color: rgb(3, 7, 71);
}

td{
    color: rgb(16, 28, 139);
    font-size: 18px;
}

#fests {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #fests td{
   
    padding: 8px;
    text-align: center;
  
  }
  
  #fests tr:nth-child(even){background-color:  rgba(255, 255, 255, 0.993);}
  
  #fests tr:hover {background-color: #ddd;}
  
  #fests th {
    padding-top: 15px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #092368;
    color: white;
    height: 30px;
    font-style:'Source Sans Pro', sans-serif;
    font-size: 15px;
  
  }

  #tableau{
    margin-top: 60px;
  }

  body{
    background: url('../../../assets/oui.PNG') no-repeat center center fixed;
    background-size: cover;
  }