<body>
<div class="menu_i">
    <h1 class="title" *ngFor="let game of games | async">Jeu festival : {{game.nomJeu}}</h1>
</div>

    <div id="tableau">
        <table *ngIf="games" id="gamess">
          <tr>
           
             <th>LIEN NOTICE</th> 
          </tr>
          <tr *ngFor="let game of games | async ">
            
            
            <td>{{game.lienNotice}}</td>
          
            
          </tr>
        </table>
        </div>

        <div id="tableau1">
            <table *ngIf="games" id="gamess">
              <tr>
               
                 <th>QUANTITE DE JEUX</th> 
              </tr>
              <tr *ngFor="let game of games | async ">
                
                
                <td>{{game.quantiteExposee}}</td>
              
                
              </tr>
            </table>
            </div>
            <div id="tableau1">
                <table *ngIf="games" id="gamess">
                  <tr>
                   
                     <th>TYPE JEU</th> 
                  </tr>
                  <tr *ngFor="let game of games | async ">
                    
                    
                    <td>{{game.idTypeJeu}}</td>
                  
                    
                  </tr>
                </table>
                </div>
    
            
            <div id="tableau1">
                <table *ngIf="games" id="gamess">
                  <tr>
                   
                     <th>TABLES</th> 
                  </tr>
                  <tr *ngFor="let game of games | async ">
                    
                    
                    <td>{{game.nbTable}}</td>
                  
                    
                  </tr>
                </table>
                </div>
    
        </body>   


