<body>
<div class="menu_i">
  <h1 class="title">Créer un festival</h1>
</div>
<div class="form-style-5">
   
   
    <div class="legendf">
      <legend> Créer un Festival</legend>
    </div>
    <form 
    name="form"
    [formGroup]="form"
    (submit)="addFestival(form)"
    #festivalForm="ngForm"
    >
    <div class="form-group">
    <input type="text" name="nomFestival" placeholder="Nom du festival" formControlName="nomFestival">
  </div>
  <div class="form-group">
  <input type="email" name="annee" placeholder="Année du festival" formControlName="annee" >
</div>  
<div class="form-group">   
<input type="email" name="nbTableE1" placeholder="Nombre de tables pour l'espace 1" formControlName="nbTableE1">
</div> 
<div class="form-group">     
<input type="email" name="nbTableE2" placeholder="Nombre de tables pour l'espace 2" formControlName="nbTableE2">
</div>
<div class="form-group">     
<input type="email" name="nbTableE3" placeholder="Nombre de tables pour l'espace 3"formControlName="nbTableE3" >
</div>
<div class="form-group">  
    <input type="email" name="m2E1" placeholder="Nombre de tables par mètre carré pour l'espace 1" formControlName="m2E1">
    </div>
    <div class="form-group">  
    <input type="email" name="m2E2" placeholder="Nombre de tables par mètre carré pour l'espace 2" formControlName="m2E2" >
    </div>
    <div class="form-group">
    <input type="email" name="m2E3" placeholder="Nombre de tables par mètre carré pour l'espace 3" formControlName="m2E3" >
    </div>
    <div class="form-group">
    <input type="email" name="prixE1" placeholder="Prix pour l'espace 1" formControlName="prixE1" >
    </div>
    <div class="form-group">
    <input type="email" name="prixE2" placeholder="Prix pour l'espace 2" formControlName="prixE2" >
    </div>
    <div class="form-group">
    <input type="email" name="prixE3" placeholder="Prix pour l'espace 3" formControlName="prixE3" >
  </div>
    <input type="submit" value="Créer le festival" >
    </form>
</div>
</body>