<div class="menu_i">
  <h1 class="title">Créer un festival</h1>
</div>
<div class="form-style-5">
    <form>
   
    <div class="legendf">
      <legend> Créer un Festival</legend>
    </div>
    <input type="text" name="field1" placeholder="Nom du festival" #nomf>
    <input type="email" name="field2" placeholder="Année du festival" #anneef>
    <input type="email" name="field2" placeholder="Nombre de tables pour l'espace 1" #nb1>
    <input type="email" name="field2" placeholder="Nombre de tables pour l'espace 2" #nb2>
    <input type="email" name="field2" placeholder="Nombre de tables pour l'espace 3" #nb3>
    <input type="email" name="field2" placeholder="Nombre de tables par mètre carré pour l'espace 1" #m1>
    <input type="email" name="field2" placeholder="Nombre de tables par mètre carré pour l'espace 2" #m2>
    <input type="email" name="field2" placeholder="Nombre de tables par mètre carré pour l'espace 3" #m3>
    <input type="email" name="field2" placeholder="Prix pour l'espace 1" #p1>
    <input type="email" name="field2" placeholder="Prix pour l'espace 2" #p2>
    <input type="email" name="field2" placeholder="Prix pour l'espace 3" #p3>
    
    <input type="submit" value="Créer le festival" (click)="add(nomf.value, anneef.value, nb1.value, nb2.value, nb3.value, m1.value, m2.value, m3.value, p1.value, p2.value, p3.value); " />
    </form>
    </div>