.title{
    font-size: 50px;
    font-weight: 900;
    margin: 50px 40px 40px;
    color: rgba(12, 12, 14, 0.911);
}

td{
    color: black;
}

#exp {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #exp td, #gamess th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #exp tr:nth-child(even){background-color: #f2f2f2;}
  
  #exp tr:hover {background-color: #ddd;}
  
  #exp th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }