<body>
  <div class="menu_i">
    <h1 class="title">Espace organisateur</h1>
  </div>

  <div class="nav">
    <ul id="navigation">
      <li><a href="/jeuxreserves" title="aller à la section 3">Liste des jeux du festival</a></li>
      <li><a href="/gamelistexp" title="aller à la section 3">Jeux du festival par exposants</a></li>
      <li><a href="/reservations" title="aller à la section 3">Réservations</a></li>
      <li><a href="/addgame" title="aller à la section 2">Créer un jeu</a></li>
      <li><a href="/explist" title="aller à la section 3">Liste des exposants</a></li>
    </ul>
  </div>

</body>