#navigation {
    width: 400px;
    list-style: none;
    margin-top: 50px;
    margin-left: 430px;
    padding: 0;
    text-align: center;
}

  #navigation li {
    background: rgb(239, 240, 253) ;
    color: #fff ;   
    margin-top: 10px;  
  }

  #navigation li a {
    display: block ;
    background: rgb(5, 3, 80) ;
    height: 65px;
    color: #fff ;  
    line-height: 50;
    text-align: center ;
    text-decoration: none ;
    padding: 4px 0 ;
    line-height: 60px;
    font-size: 28px; 
  }

  #navigation li a:hover, #navigation li a:focus, #navigation li a:active {
    background: rgb(4, 9, 90) ;
    color: white;
  
  }

  body{
    background: url('../../../assets/oui.PNG') no-repeat center center fixed;
    background-size: cover;
  }

  .menu_i{
    margin-top: 70px;
    text-align: center;  
  }

  .title{
    font-size: 70px;
    font-weight: 900;
    margin: 50px 40px 40px;
    color: rgb(3, 7, 71);
  }
  .title1{
    margin-top: 15px;
    margin-left: 85px;
    font-size: 50px;
    margin-bottom: 25px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }

#nav {
    margin-top: 15px;
}

#infos {
   margin-top: 30px;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.example-card {
    width: 500px;
    display: inline-block;
    background: rgba(15, 93, 211, 0.76);
    
    
}
mat-card-content{
    font-size: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

mat-card-title{
    text-align: center;
}

.card{
    text-align: center;
   
}
