#navigation {
    width: 400px;
    list-style: none;
    margin-top: 50px;
    margin-left: 430px;
    padding: 0;
    text-align: center;
}

  #navigation li {
    background: rgb(239, 240, 253) ;
    color: #fff ;   
    margin-top: 10px;  
  }

  #navigation li a {
    display: block ;
    background: rgb(5, 3, 80) ;
    height: 80px;
    color: #fff ;  
    line-height: 50;
    text-align: center ;
    text-decoration: none ;
    padding: 4px 0 ;
    line-height: 60px;
    font-size: 28px; 
  }

  #navigation li a:hover, #navigation li a:focus, #navigation li a:active {
    background: rgb(4, 9, 90) ;
    color: white;
    margin-top: 45px; 
  }