.menu_i{
    margin-top: 70px;
    text-align: center;  
  }
  
  .title{
    font-size: 70px;
    font-weight: 900;
    margin: 50px 40px 40px;
    color: rgb(3, 7, 71);
  }

#exp {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #exp td{ 
    padding: 8px;
    text-align: center;
  }
  
  #exp tr:nth-child(even){background-color:  rgba(255, 255, 255, 0.993);}
  
  #exp tr:hover {background-color: #ddd;}
  
  #exp th {
    padding-top: 15px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #092268b7;
    color: white;
    height: 30px;
    font-style:'Source Sans Pro', sans-serif;
    font-size: 20px; 
  }

  #tableau{
    margin-top: 50px;
  }
  