.sidenav-container {
  height: 100%;
  background: white;
  color: black;
}

.sidenav {
  width: 275px;
  background : rgb(2, 3, 49);
}

.sidenav .mat-toolbar {
 
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
 
}