<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <div id="navtext">
        <a mat-list-item href [routerLink]="['']">Informations du festival</a>
        <a mat-list-item href [routerLink]="['login']">Connexion</a>
        <a mat-list-item href [routerLink]="['about']">A propos</a>
      </div>

      <!--a mat-list-item href="#">Link 3</a-->
    </mat-nav-list>

    <div class="logo-image">
      <img src="../../assets/logo_FDJ_FINAL_800.png">
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span></span>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>