.sidenav-container {
  height: 100%;
  background: white;
  color: black;
  font-family: Verdana, Arial, Helvetica, sans-serif;  
}

.sidenav {
  width: 275px;
  background : rgb(2, 3, 49);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
 
}

#navtext{
  font-family: Verdana, Arial, Helvetica, sans-serif;  
}