.sidenav-container {
  height: 100%;
  background: white;
  color: black;
  font-family: Verdana, Arial, Helvetica, sans-serif;  
}

.sidenav {
  width: 275px;
  background : rgb(2, 3, 49);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1; 
}

#navtext{
  font-family: Verdana, Arial, Helvetica, sans-serif;  
}

img{
  width: 215px;
  margin-left: 0px;
  border-radius: 50%; 
  margin-top: 350px;  
}

a {
  font-family: Verdana, Arial, Helvetica, sans-serif;  
}
